<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nic.petcompanion</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>petcompanion</string>
			</array>
		</dict>
	</array>
	<key>PC_BACKEND_MODE</key>
	<string>$(PC_BACKEND_MODE)</string>
	<key>PC_SUPABASE_ANON_KEY</key>
	<string>$(PC_SUPABASE_ANON_KEY)</string>
	<key>PC_SUPABASE_URL</key>
	<string>$(PC_SUPABASE_URL)</string>
</dict>
</plist>
